# Entorno virtual de Python
.venv/
venv/
ENV/
env/

# Archivos de configuración y variables de entorno sensibles
.env
.env.*
*.env
config.json
setup_mysql_user.sql

# Archivos de desarrollo local
*.log
*.sqlite3
*.db
*.bak
*.tmp

# Archivos de configuración de IDE
.vscode/
.idea/
*.swp

# Archivos de compilación y distribución
__pycache__/
*.py[cod]
*.pyo
dist/
build/
*.egg-info/
.eggs/

# Archivos generados por PyInstaller
# (Los .spec en packaging/ sí se versionan)

# Archivos de sistema operativo
.DS_Store
Thumbs.db 

# Archivos de documentación generados
docs/_build/

# carpeta de instaladores
installer/